* {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: 'vanilla';
    src: url('./fonts/vanilla_caramel.otf');
    font-weight: bolder;
}

@font-face {
    font-family: 'tasty';
    src: url('./fonts/TastyFood.ttf');
}

@font-face {
    font-family: 'terus';
    src: url('./fonts/Terus.ttf');
}

#content {
    height: 100vh;
    display: grid;
    grid-template-rows: 200px 1fr 50px;
}


/* HEADER */

#header {
    background-color: rgb(45, 45, 45);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    max-height: 70%;
    padding: 60px;
    filter: brightness(0) invert(1);
}

h1 {
    font-family: 'vanilla';
    color: whitesmoke;
    padding: 60px;
    font-size: 80px;
}


/* CENTRAL CONTENT */

#centralContent {
    display: flex;
    background-color: whitesmoke;
}

#navigation {
    flex: 1;
    min-width: 200px;
    padding-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
}

.navLink {
    min-height: 60px;
    min-width: 70%;
    font-family: "terus";
    font-size: 25px;
    font-weight: 100;

    display: flex;
    align-items: center;
    justify-content: center;

    box-shadow: 4px 4px 10px black;
    border: 1px solid black;
    border-radius: 10px;

}

.navLink:hover {
    box-shadow: 4px 4px 20px black;
    cursor: grab;
}

.navLink:active {
    background-color: gray;
}

.current {
    background-color: rgb(45, 45, 45);
    color: whitesmoke;
}

.current:hover {
    box-shadow: 4px 4px 10px black;
    cursor: not-allowed;
}

.current:active {
    background-color: rgb(45, 45, 45);
}

#modularContent {
    flex: 5;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* HOME */

.homeContainer {
    height: 70%;
    width: 90%;
    margin: 50px;
    padding: 30px;
    border-radius: 10px;
    background-color: rgb(200, 200, 160);
    border: 10px ridge rgba(210, 210, 120, .5);

    display: flex;
    align-items: center;
    justify-content: center;
}

.homeContainer div {
    flex: 3;
    font-family: "terus";
    font-size: 2.4vmax;
    text-align: center;
}

.homeContainer img {
    flex: 1;
    min-width: 20vmin;
}


/* FOOTER */

#footer {
    background-color: rgb(45, 45, 45);
}